%script{ type: 'application/javascript', src: '/js/external/jquery-3.6.0.min.js'}
%script{ type: 'application/javascript', src: '/js/external/axios.min.js'}
%script{ type: 'application/javascript', src: '/js/external/vue.js'}
%script{ type: 'application/javascript', src: '/js/external/bootstrap.bundle.min.js'}
%script{ type: 'application/javascript', src: '/js/external/underscore.min.js'}
%script{ type: 'application/javascript', src: '/js/external/bootstrap4-toggle.min.js'}

%script{ type: 'application/javascript', src: '/js/random_wizard_name_generator.js'}
%script{ type: 'application/javascript', src: '/js/ls_manager.js'}

%script{ type: 'application/javascript', src: '/js/mage_manager.js'}
%script{ type: 'application/javascript', src: '/js/mage_manager_aligned.js'}
%script{ type: 'application/javascript', src: '/js/mage_manager_neutral.js'}
