#wizard-choose-spells

  .h2
    Liste des sorts du mage

  <spell-button v-for="spell in spells" :key="spell['title']" v-bind:spell_name="spell['title']"
  v-bind:spell_content="'('+spell['difficulty']+') - '+spell['target']+' : '+spell['description']"
  v-bind:spell_level=spell['difficulty'] v-bind:selected_saved_state=spell['selected_saved_state']></spell-button>

  <div class="row mt-2">
  <div class="col-9">
  <button type="button" class="btn btn-primary btn-block" :disabled="!can_validate" v-on:click="validate">Valider</button>
  </div>
  </div>

%input{ type: :hidden, id: :wizard, value: @wizard_export.to_json}
%input{ type: :hidden, id: :spells, value: @spells}

= haml :common_js

%script{type: 'application/javascript', src: '/js/mage_new_1_school.js'}