#wizard-choice

  .h1
    Choisissez un type de mage


  %label.form-label{:for => "wizard_name"} Nom du mage
  %input#wizard_name.form-control{ 'v-model' => 'name' }

  .row.mt-3
    .col-12
      <a role="button" class="btn btn-primary btn-block" v-for="wiz in wiz_types" :key="wiz" :href="'/new_mage_school_spells?mage_type=' + wiz">
      {{ wiz }}
      </a>

= haml :common_js
%script{ type: 'application/javascript', :src => '/js/new_mage_create.js'}
