#wizard-choose-spells

  .h2
    Choisissez trois sorts de l'école du mage

  <spell-button v-for="spell in spells" :key="spell['title']" v-bind:spell_name="spell['title']"
  v-bind:spell_content="'('+spell['difficulty']+') - '+spell['target']+' : '+spell['description']">
  </spell-button>

  %input{ type: :hidden, id: :mage_type, value: mage_type}

= haml :common_js
%script{ type: 'application/javascript', :src => '/js/new_mage_school_spells.js'}