#wizard-choose-spells

  .h2
    Choisissez trois sorts de l'école du mage

  .row
    .col-12
      <spell-button v-for="spell in spells" :key="spell" v-bind:spell_name="spell">
      </spell-button>

  %input{ type: :hidden, id: :mage_type, value: mage_type}