#wizard-choice

  .h1
    Choisissez un type de mage


  %label.form-label{:for => "wizard_name"} Nom du mage
  -#%button.btn.btn-primary.btn-sm
  -#  Nom du mage
  -#%input{ 'data-size' => 'sm', 'data-toggle' => 'toggle', type: 'checkbox', 'data-on' => 'Femme', 'data-off' => 'Homme', 'data-offstyle' => 'outline-primary'}
  -#%input{ 'data-size' => 'sm', 'data-toggle' => 'toggle', type: 'checkbox', 'data-on' => 'Titre', 'data-off' => 'Normal', 'data-offstyle' => 'outline-primary'}
  %input#wizard_name.mt-1.form-control{ 'v-model' => 'name' }

  .row.mt-3
    .col-12
      <a role="button" class="btn btn-primary btn-block"
      v-for="wiz in wiz_types" :key="wiz" :href="'/new_mage_school_spells?mage_type=' + wiz + '&mage_name=' + name">
      {{ wiz }}
      </a>

= haml :common_js
%script{ type: 'application/javascript', :src => '/js/new_mage_create.js'}
